{% extends 'restaurantes/base.html' %}
{% load static %}
{% block content %}
            <section class="detalhes">
                <div class="detalhes__apresentacao">
                    <h1 class="detalhes__apresentacao__titulo">{{ restaurante.nome }}</h1>
                    {% if restaurante.foto == "" or restaurante.foto == null %}
                    <img class="imagem__imagem" src="{% static '/assets/imagens/galeria/carina-nebula.png' %}">
                    {% else %}
                    <img class="imagem__imagem" src="{{ restaurante.foto.url }}">
                    {% endif %}
                    <p class="detalhes__apresentacao__descricao">{{ restaurante.descricao }}</p>
                </div>
                <div class="detalhes__caracteristicas">
                    <h2 class="detalhes__caracteristicas__titulo" >Categoria</h2>
                    <p class="detalhes__caracteristicas__conteudo">{{ restaurante.categoria }}</p>
                    <h2 class="detalhes__caracteristicas__titulo">Avaliação</h2>
                    <p class="detalhes__caracteristicas__conteudo">{{ restaurante.nota }}</p>
                    <h2 class="detalhes__caracteristicas__titulo">Faixa de preço</h2>
                    <p class="detalhes__caracteristicas__conteudo">{{ restaurante.faixa_preco }}</p>
                    <h2 class="detalhes__caracteristicas__titulo">Informações adicionais</h2>
                    <p class="detalhes__caracteristicas__conteudo">{{ restaurante.informacoes_adicionais }}</p>
                    <h2 class="detalhes__caracteristicas__titulo">Localização</h2>
                    <p class="detalhes__caracteristicas__conteudo">{{ restaurante.localizacao }}</p>
                    <h2 class="detalhes__caracteristicas__titulo">Contato</h2>
                    <p class="detalhes__caracteristicas__conteudo">{{ restaurante.contato }}</p>       
                </div>
            </section>
        </main>
    </div>
 
{% endblock %}
