{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Floripa Veg</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static '/styles/style.css' %}">
</head>

<body>
    <div class="pagina-inicial">
        <header class="cabecalho">
            <img src="{% static '/assets/logo/logo.png' %}" class="logo"  alt="Logo" />
            {% for message in messages %}
            <div class="alert alert-success">
                <p id="messages">{{message}}</p>
            </div>
            {% endfor %}
            <div class="cabecalho__busca">
                <div class="busca__fundo">
                    <form class="busca__interior" action="{% url 'buscar' %}">
                        <input style="color:white;" class="busca__input" name= 'buscar' type="text" placeholder="O que você procura?">
                        <button class="busca__botao" type ='submit'>
                            <img class="busca__icone" src="{% static '/assets/ícones/1x/search1.png' %}" alt="ícone de search">
                        </button>
                    </form>
                </div>
            </div>
        </header>
        <main class="principal">
            <section class="menu-lateral">
                <nav class="menu-lateral__navegacao">
                    <a href="{% url 'index' %}"><img src="{% static '/assets/ícones/1x/botao-home.png' %}"> Home</a>
                    <a href="{% url 'logout' %}"><img src="{% static '/assets/ícones/1x/sair.png' %}"> Sair</a>
                </nav>
            </section>
            <section class="conteudo">
                <section class="galeria">
                    <div class="cards">
                        <h2 id="Descubra" class="cards__titulo">Descubra os melhores restaurantes da cidade</h2>
                        <ul class="cards__lista">
                            {% if cards %}
                            {% for restaurante in cards %}
                            <li class="card">
                                <a href="{% url 'detalhes' restaurante.id %}">
                                {% if restaurante.foto == "" or restaurante.foto == null %}
                                    <img class="card__imagem" src="{% static '/assets/imagens/galeria/carina-nebula.png' %}" alt="foto">
                                {% else %}
                                    <img class="card__imagem" src="{{ restaurante.foto.url }}" alt="foto">
                                {% endif %}
                                </a>
                                <span class="card__tag">{{ restaurante.categoria }}</span>
                                <div class="card__info">
                                    <p class="card__titulo">{{ restaurante.nome }}</p>
                                    <div class="card__texto">
                                        <p class="card__descricao">{{ restaurante.descricao }}</p>
                                    </div>
                                </div>
                            </li>
                            {% endfor %}
                            {% else %}
                            {% endif %}
                        </ul>
                    </div>
                </section>
            </section>
        </main>
    </div>
    
</body>

</html>