{% extends 'restaurantes/base.html' %}
{% load static %}
{% block content %}

            <section class="conteudo">
                <section class="galeria">
                    <div class="cards">
                        <h2 id="Descubra" class="cards__titulo">Descubra os melhores restaurantes da cidade</h2>
                        <ul class="cards__lista">
                            {% if cards %}
                            {% for restaurante in cards %}
                            <li class="card">
                                <a href="{% url 'detalhes' restaurante.id %}">
                                {% if restaurante.foto == "" or restaurante.foto == null %}
                                    <img class="card__imagem" src="{% static '/assets/imagens/galeria/carina-nebula.png' %}" alt="foto">
                                {% else %}
                                    <img class="card__imagem" src="{{ restaurante.foto.url }}" alt="foto">
                                {% endif %}
                                </a>
                                <span class="card__tag">{{ restaurante.categoria }}</span>
                                <div class="card__info">
                                    <p class="card__titulo">{{ restaurante.nome }}</p>
                                    <div class="card__texto">
                                        <p class="card__descricao">{{ restaurante.descricao }}</p>
                                    </div>
                                </div>
                            </li>
                            {% endfor %}
                            {% else %}
                            {% endif %}
                        </ul>
                    </div>
                </section>
            </section>
        </main>
    </div>
{% endblock %}
    
